{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "root": true,
  "rules": {
    "no-useless-return": "off",
    "no-plusplus": "off",
    "no-console": "off",
    "prettier/prettier": "error",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}